

.robot {
  position: relative;
  left: 200px;
}
/* the antenae thingy mabob*/ 
.beep {
  width: 5px;
  height: 0;
  border: 5px solid transparent;
  border-top: 10px solid #777;
  border-bottom: 80px solid #888;
  position: relative;
  left: 140px;
}


/* Animation for the eyes. THis animation is called blink 
  radial-gradient = making a circle, the % is for opacity */

@keyframes blink {
  50% {
    background: radial-gradient(circle, yellow 15%, transparent 40%), #08938c;
    background-size: 75px 150px;
  }
}
@-webkit-keyframes blink {
  50% {
    background: -webkit-radial-gradient(circle, yellow 15%, transparent 40%), #08938c;
    background-size: 75px 150px;
  }
}
@-moz-keyframes blink {
  50% {
    background: -moz-radial-gradient(circle, yellow 15%, transparent 40%), #08938c;
    background-size: 75px 150px;
  }
}


.laser {
  animation: blink .5s infinite;
  -webkit-animation: blink .5s infinite;
  -moz-animation: blink .5s infinite;
}
.brain {
  background: radial-gradient(circle, white 15%, transparent 40%), #08938c;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #08938c; 
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #08938c;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px solid #666;
  position: relative;
  left: 70px;
}
.torso {
  height: 0;
  width: 140px;
  border-top: 300px solid #08938c;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
}
.left {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  position: relative;
  top: -320px;
  left: -190px;
  z-index: -1;
}
.right {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: scaleY(-1) rotate(20deg);
  -webkit-transform: scaleY(-1) rotate(20deg);
  -moz-transform: scaleY(-1) rotate(20deg);
  position: relative;
  top: -620px;
  left: 190px;
  z-index: -1;
}
.foot {
  height: 40px;
  width: 40px;
  background: #ccc;
  border-radius: 40px;
  border: 15px solid #999;
  position: relative;
  left: 110px;
  top: -10px;
  z-index: -1;
}

.flash{
  display: block;
  color: #ccc;
  padding: 10px 15px;
  background-color: #555;  
}
.color{
  display: block;
  color: #ccc;
  padding: 10px 15px;
  background-color: #555;  
}
.moves{
  display: block;
  color: #ccc;
  padding: 10px 15px;
  background-color: #555;  
}

/* The GIF of someone dancing */
@keyframes dance{
  from{
      left: -800px;
    }
  }
@-webkit-keyframes dance{
  from{
      left: 800px;
      left: -800px;
    }
  }
@-moz-keyframes dance{
  from{
      left: 800px;
      left: -800px;
    }
  }
img{
  animation: dance 4s infinite;
  -webkit-animation: dance 4s infinite;
  -moz-animation: dance 4s infinite;
  position:absolute;
  top:200px;
  left:400px;
  }

button{
  display: inline;
  text-align: center;
}
