
body {
  text-align: center;
  background: url("http://www.socwall.com/images/wallpapers/36986-2560x1600.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  font-family: helvetica;
  
}
.container {
  width: 60%;
  margin: 0 auto;
  background-color: white;
}
p {
  font-size: 22px;
}

ul {
  width: 300px;
    margin: 0 auto;
    text-align: left;
}

.sidebar{
  text-align: center;
  margin-top: 10px;

}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


.p-spacing {
  margin-bottom: 0px;

}


@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
} 

.fadein { position:relative; height:332px; width:500px; }
.fadein img { position:absolute; left:0; right:0; opacity:0; animation-name: fade; animation-duration: 9s; animation-iteration-count: infinite; }
.fadein img:nth-child(1) { animation-delay: 0s;  }
.fadein img:nth-child(2) { animation-delay: 3s;  }
.fadein img:nth-child(3) { animation-delay: 6s;  }
