
body {
  text-align: center;
  background: url("http://www.socwall.com/images/wallpapers/36986-2560x1600.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  font-family: helvetica;
  
}
.container {
  width: 60%;
  margin: 0 auto;
  background-color: white;
}
p {
  font-size: 22px;
}

ul {
  width: 300px;
    margin: 0 auto;
    text-align: left;
}

.sidebar{
  text-align: center;
  margin-top: 10px;

}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


.p-spacing {
  margin-bottom: 0px;

}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

